*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

#nav-bar{
    position: sticky;
    z-index: 10;
    top: 0;
}

.navbar-nav{
    /* background-color: green; */
    margin-left: auto;
    /* padding-right: 20px; */
}

.navbar{
    background-image: linear-gradient( to right, #a517ba, #5f1782) ;
}

.navbar-brand img{
    padding-left: 20px;
    height: 40px;
}

/* .navbar-nav li{
     padding: 0 10px; 
} */

.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars{
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler{
    outline: none !important; 
}

/*--------banner section------------*/

#banner{
    background-image: linear-gradient( to right, #a517ba, #5f1782);
    /* background-color: green; */
    color: #fff;
    padding-top: 5%;
}

.promo-title{
    font-size: 40px;
    margin-top: 100px;
    font-weight: 600;
}

.play-btn{
    width: 45px;
    margin:20px;
}

#banner a{
    color: #fff;
    text-decoration: none;
}

.bottom-img{
    width: 100%;
}

/* ------- services section ---------- */

#services{
    padding-top: 90px;
    padding-bottom: 80px;
}

.service-img{
    width: 100px;
    margin-top: 20px;
}

.services{
    /* background-color: green; */
    padding: 20px;
    /* text-align: left; */
}

.services h4{
    text-transform: uppercase;
    /* font-size: 30px; */
    padding: 5px;
    margin-top: 25px;
}

.title::before{
    content: '';
    height: 5px;
    width: 200px;
    background-color: #7b1798;
    display: block;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(63px);
}

.title::after{
    content: '';
    height: 10px;
    width: 50px;
    background-color: #7b1798;
    display: block;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(8px);
}

#services .btn-primary{
    box-shadow: none;
    border: none;
    border-radius: 20px;
    padding: 8px 25px;
    background-image: linear-gradient( to right, #a517ba, #5f1782);
}

/* ----about-us section------ */
#about-us{
    /* padding: 50px 0px; */
    padding-top: 90px;
    padding-bottom: 50px;
    background-color: #f8f9fa;
}

.about-title{
    margin-top: 8%;
    font-size: 40px;
    font-weight: 600;
}

#about-us ul li{
    margin: 10px 0px;
    /* background-color: green; */
}

#about-us ul{
    margin-left: 20px;
    /* background-color: pink; */
}

/* ------Testimonials------- */

#testimonials{
    /* margin: 100px 0px; */
    padding-top: 90px;
    padding-bottom: 40px;
}

.testimonials{
    border-left: 4px solid #7b1798;
    margin: 50px 0;
}

.testimonials img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 10px;
}

.user-details{
    display: inline-block;
    font-size: 12px;
}

/* ----- social media section------- */

#social-media{
    background-color: #f8f9fa;
    padding: 100px 0;
}

#social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.social-icons img{
    width: 60px;
    transition: 0.5s;
}
.social-icons a:hover img{
    transform: translateY(-10px);
}

/*  Footer Section */

#footer{
    background-image: linear-gradient( to right, #a517ba, #5f1782);
    border-top: none;
    color:#fff;
}

.footer-img{
    width: 100%;
}

.footer-box{
    padding: 20px 50px !important;
}

.footer-box img{
    width: 120px;
    margin-bottom: 20px;
}

.footer-box .fa{
    height: 40px;
    width: 40px;
    font-size: 25px;
    margin-right: 8px;
    text-align: center;
    /* color: #fff; */
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient( to right, #a517ba, #5f1782);
}

.footer-box .form-control{
    max-width: 250px;
    margin-top: 25px;
}

.footer-box .btn-primary{
    margin-top: 25px;
    background-image: linear-gradient( to right, #a517ba, #5f1782);
    border: none !important;
}

hr{
    background-color: #fff;
}

.copyrights{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}